#map {
    position: absolute;
    top: 0;
    bottom: 0;
}

/*mapboxgl的默认弹出框，在这里修改大小*/
.mapboxgl-popup-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 10px 10px 15px;
    pointer-events: auto;
    position: relative;
}

/*弹出框的小三角*/
/*.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {*/
/*    align-self: center;*/
/*    border-bottom: none;*/
/*    border-top-color: #fff;*/
/*}*/
/*.mapboxgl-popup-tip {*/
/*    border: 10px solid transparent;*/
/*    height: 0;*/
/*    width: 0;*/
/*    z-index: 1;*/
/*}*/